<div>
    <a href = "home" ><h3>Home</h3></a>
</div>

<div class="header">

    
    <h1 >Personal Assistant</h1>
</div>



<div class="icons">
    
    <a href = "planner" class="block1">Plan Your Day</a>
    <a href = "prioritize" class="block2">Prioritize Tasks</a>
    <a href = "health" class="block3">Health Tracker</a>
    <a href = "decision" class="block4">Decision Maker</a>

</div>

<div class = "adjust">
   <router-outlet></router-outlet>
</div>
















 
<!-- <app-planner></app-planner> -->
<!-- <app-prioritize></app-prioritize> -->

<!-- <app-health></app-health> -->














 