
.box1{
    width: 800px;
    height: 90px;

    /* text-align: justify; */
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    font-weight: 100;

    display: inline-block;
    background-color: #214151;
    outline: 0;
    color: rgb(245, 241, 241);
    border-radius: 5px;
    border-style: groove;
    border-color: azure;
    
    position: relative;
    right: 5px;
    bottom: 25px;


}

.box{
    width: 800px;
    height: 70px;

    /* text-align: center; */
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    font-weight: 100;

    display: inline-block;
    background-color: #214151;
    outline: 0;
    color: rgb(245, 241, 241);
    border-radius: 5px;
    border-style: groove;
    border-color: azure;
    
    position: relative;
    left: 100px;
    top: 40px;


}
.header{
    text-shadow: #214151;
    text-align: center;
    color: #214151 ;
    font-family: 'Sacramento', cursive;
    position: relative;
    top: 10px;
    left: 40px;
    font-size: 40px;
    
 }
 