<br><br>
<div >
    <form [formGroup]="form1">
      <clr-checkbox-container >
        <label class = "adjust">Slept for 7-8 hours</label>
        <clr-checkbox-wrapper >
          <input
            type="checkbox"
            class = "block1"
            formControlName="sleep"
            clrCheckbox
            name="sleep"
            required
            value="sleep"
          />
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      
      <clr-checkbox-container>
      <label class = "adjust">Did cardio workout </label>
        <clr-checkbox-wrapper>
          <input
            type="checkbox"
            class = "block1"
            formControlName="workout"
            clrCheckbox
            name="workout"
            required
            value="workout"
          />
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
  
      <clr-checkbox-container>
        <label class = "adjust">Time with family </label>
          <clr-checkbox-wrapper>
            <input
              type="checkbox"
              class = "block1"
              formControlName="family"
              clrCheckbox
              name="family"
              required
              value="family"
            />
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
  
        <clr-checkbox-container>
          <label class = "adjust">Meditation</label>
            <clr-checkbox-wrapper>
              <input
                type="checkbox"
                class = "block1"
                formControlName="meditation"
                clrCheckbox
                name="meditation"
                required
                value="meditation"
              />
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
  
          <clr-checkbox-container>
            <label class = "adjust">Practiced Gratitude</label>
              <clr-checkbox-wrapper>
                <input
                  type="checkbox"
                  class = "block1"
                  formControlName="gratitude"
                  clrCheckbox
                  name="gratitude"
                  required
                  value="gratitude"
                />
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
      
    </form>


  <div class = "align_right">
  
    
    <form [formGroup]="form2">
      <clr-checkbox-container >
        <label class = "adjust">Went for Walk</label>
        <clr-checkbox-wrapper >
          <input
            type="checkbox"
            class = "block1"
            formControlName="walk"
            clrCheckbox
            name="walk"
            required
            value="walk"
          />
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      
      <clr-checkbox-container>
      <label class = "adjust">Had Breakfast</label>
        <clr-checkbox-wrapper>
          <input
            type="checkbox"
            class = "block1"
            formControlName="breakfast"
            clrCheckbox
            name="breakfast"
            required
            value="breakfast"
          />
          
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
  
      <clr-checkbox-container>
        <label class = "adjust">8 glassses of water </label>
          <clr-checkbox-wrapper>
            <input
              type="checkbox"
              class = "block1"
              formControlName="Water"
              clrCheckbox
              name="Water"
              required
              value="Water"
            />
            
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
  
        <clr-checkbox-container>
          <label class = "adjust">Did eye massage</label>
            <clr-checkbox-wrapper>
              <input
                type="checkbox"
                class = "block1"
                formControlName="eye"
                clrCheckbox
                name="eye"
                required
                value="eye"
              />
              
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
  
          <clr-checkbox-container>
            <label class = "adjust">Played with my pet</label>
              <clr-checkbox-wrapper>
                <input
                  type="checkbox"
                  class = "block1"
                  formControlName="pet"
                  clrCheckbox
                  name="pet"
                  required
                  value="pet"
                />
                
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
    </form>
  </div>
